body {
    background-color: #f3f2ef
}

.navbar {
    background-color: white;
    border-style: ridge;
    padding:7px;
    padding-left: 150px;
    margin-bottom: 15px;
    position:sticky;
    display: flex;

}

.navbar navbar-expand-lg bg-light {
    flex-flow:wrap-reverse;
}

#task {
    position: relative; left: 20px;
    justify-content: space-evenly;
}

#home,#myNet,#job,#msg,#notif,#me,#work {
    margin-right:50px
}

.main {
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

#banner {
    width: 102%;
    height: 41%;
    position:relative;
    top: -25px;
    left: -10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#myPic {
    position:relative;
    top: -100px;
    left: 30px;
    border-radius: 50%;
    border-color: black;
    width: 150px;
    height: 150px;
}

#person {
    position:relative;
    top: -100px;
}

.intro {
    background-color: white;
    border-radius: 10px;
    border-style: ridge;
    width: 800px;
    height: 410px;
    margin-bottom: 10px;
    margin-right: 15px;
    padding-left: 10px;
    
}



#unblu {
    color: blue;
}

#openTo {
    background-color: blue;
    color: white;
    border-radius: 15px;
    border-style: ridge;
}

#addPro {
    background-color: white;
    color: blue;
    border-color: blue;
    border-radius: 15px;
    border-style: ridge;
}

#more {
    background-color: white;
    color: grey;
    border-color: grey;
    border-radius: 15px;
    border-style: ridge;
}

#about {
    background-color: white;
    border-radius: 10px;
    border-style: ridge;
    width: 800px;
    height: 125px;
    margin-bottom: 10px;
    padding-left: 10px;
}


.edu {
    background-color: white;
    border-radius: 10px;
    border-style: ridge;
    width: 800px;
    height: 125px;
    margin-bottom: 10px;
    padding-left: 10px;
}

#eduLogo {
    display: flex;
    flex-wrap: wrap;
}

#logoWords {
    margin: 0px;
    padding: 0px;
}

/* # {
    margin: 0px;
    padding: 0px;
} */

#skills {
    background-color: white;
    border-radius: 10px;
    border-style: ridge;
    width: 800px;
    height: 100px;
    margin-bottom: 10px;
    padding-left: 10px;
}


.exp {
    background-color: white;
    border-radius: 10px;
    border-style: ridge;
    width: 800px;
    height: 100px;
    margin-bottom: 10px;
    padding-left: 10px;
    
}

#topside {
    background-color: white;
    border-radius: 10px;
    border-style: ridge;
    width: 350px;
    height: 100px;
    margin-bottom: 10px;
    padding-left: 10px;
}

#botside {
    background-color: white;
    border-radius: 10px;
    border-style: ridge;
    width: 350px;
    height: 100px;
    margin-bottom: 10px;
    padding-left: 10px;
}

#tags {

    display: flex;
    height: 200px;
    width: 800px;
    flex-direction: column;
    flex-wrap: wrap;
}

#bothead {
    position: relative;
    left: 175px;
}

#footnote {
    display: flex;
    justify-content: center;
    position: relative;
    left: -125px;
}

#privacy {
    width: 150px;
    border-style: none;
    background-color: rgba(255, 252, 252, 0.909);
    opacity: .5;
}

